* {
  box-sizing: border-box;

}

body {
font-family: 'Roboto', sans-serif;
margin: 0 auto;
max-width: 1920px;
}

.container {
display: flex;
padding: 0;
margin: 0;
display: flex;
flex-flow: row wrap;

}

img {
  width: 100%;
  height: 100%;
}

.GMT {

text-align: right;
margin-top: -50px;
}


#redarrow {
width: 10%;
margin-left: auto;
margin-right: auto;
display: block;
margin-bottom: -30px;

}

#clock {
  width: 150px;
  margin-left: 0px;
  margin-right: -400px;
}

/************Small**************/
@media only screen and (min-width: 300px) and (max-width: 649px) {
  .container {
		max-width: 1920px;
        margin: 0 auto;
        flex-flow: row wrap;
        display:flex;
    }

  .item {
    background-color: rgb(53, 53, 53);
    width: 96%!important;
    height: 100%;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-bottom: 20px;
    float: left!important;
    padding: 14px;
    border: 5px solid #e1e1e1d2;
}

h1 {
  font-size: 27px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color:rgb(240, 240, 240);
  text-shadow: 2px 2px black;
  }
}

/************Mid**************/
@media only screen and (min-width: 650px) and (max-width: 999px) {

  .container {
		max-width: 1920px;
        margin: 0 auto;
        flex-flow: row wrap;
        display:flex;
    }

  .item {
    background-color: rgb(53, 53, 53);
    width: 49%!important;
    height: 100%;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-bottom: 20px;
    float: left!important;
    padding: 14px;
    border: 5px solid #e1e1e1d2;
}

h1 {
  font-size: 27px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color:rgb(240, 240, 240);
  text-shadow: 2px 2px black;
  }

}
/***********Large*************/
@media only screen and (min-width: 1000px) and (max-width: 1439px){
  .container {
		max-width: 1920px;
        margin: 0 auto;
        flex-flow: row wrap;
        display:flex;
    }

  .item {
    background-color: rgb(53, 53, 53);
    width: 32%!important;
    height: 100%;
    margin-left: auto!important;
    margin-right: auto!important;
    float: left!important;
    padding: 14px;
    border: 5px solid #e1e1e1d2;
}
h1 {
  font-size: 25px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color:rgb(240, 240, 240);
  text-shadow: 2px 2px black;
  }
  
}
/************XL**************/
@media only screen and (min-width: 1440px) {

  .container {
		max-width: 1920px;
        margin: 0 auto;
        flex-flow: row wrap;
        display:flex;
    }

  .item {
    background-color: rgb(53, 53, 53);
    width: 23.2%!important;
    height: 100%;
    margin-left: auto!important;
    margin-right: auto!important;
    float: left!important;
    padding: 14px;
    border: 5px solid #e1e1e1d2;
}

h1 {
  font-size: 27px;
  position: relative;


  color:rgb(240, 240, 240);
  text-shadow: 2px 2px black;
  }

}